<h2><%= Comment.model_name.human %></h2>
<%= form_with model: [comment.commentable, comment], local: true do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this commnet from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_area :text %>
  <div class="actions">
    <%= f.submit t("views.common.post_comment") %>
  </div>
<% end %>

<div class="comment_box">
  <% if comment.commentable.comments.order(:id).present? %>
    <% comment.commentable.comments.order(:id).each do |c| %>
      <div class="comment_content">
        <div class="comment_status_header">
          <div class="comment_header">
            <div class="comment_author">
              <%= c.user.name %>
            </div>
            <div class="comment_date_time">
              <%= c.created_at %>
            </div>
          </div>
          <% if c.user == current_user %>
            <div class="comment_status_box">
              <%= link_to t('views.common.edit'), [:edit, comment.commentable, c] %>
              <%= link_to t('views.common.destroy'), [comment.commentable, c], method: :delete %>
            </div>
          <% end %>
        </div>
        <div class="comment">
          <%= c.text %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div><%= t("views.common.none_post", name: Comment.model_name.human) %></div>
  <% end %>
</div>
