<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:user_name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= link_to t('views.common.show'), user_path(user.id) %></td>
        <td class="icon_image"><%= image_tag user.icon.variant(resize: "50x50") if user.icon.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @users %>

<%= link_to "トップページ", root_path %>
