<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @report.text %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @report.created_at %>
</p>

<%= render 'comments/new', locals: {article: @article, comment: @comment, comments: @comments} %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
