<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @report.text %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @report.created_at %>
</p>

<h2><%= Comment.model_name.human%></h2>
<%= form_with model: [@report, @comment], local: true do |f| %>
  <%= f.text_area :text %>
  <div class="actions">
    <%= f.submit t("views.common.post_comment")%>
  </div>
<% end %>

<div class="comment_box">
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <div class="comment_content">
        <div class="comment_status_header">
          <div class="comment_header">
            <div class="comment_author">
              <%= comment.user.name %>
            </div>
            <div class="comment_date_time">
              <%= comment.created_at%>
            </div>
          </div>
          <div class="comment_status_box">
            <%= link_to 'edit', edit_report_comment_path(comment) %>
            <%= link_to 'destory', report_comment_path(comment), method: :delete %>
          </div>
        </div>
        <div class="comment">
          <%= comment.text %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>コメントの投稿はありません</div>
  <% end %>
</div>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
