<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="user_status">
      <div class="status_box">
        こんにちは <%= current_user.user_name %>さん
      </div>
      <div class="status_box">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
      <div class="status_box">
        <%= link_to "ユーザー情報の編集", edit_user_registration_path, method: :get %>
      </div>
      <div class="status_box">
        <%= link_to "ユーザー一覧", user_index_path, method: :get %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
